Source: taaasty
Section: user/hidden
Priority: optional
Maintainer: Василий <binque@unknown>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: <insert the upstream URL, if relevant>

Package: taaasty
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Client for Taaasty
 <insert long description, indented with spaces>
XB-Maemo-Display-Name: Taaasty
XB-Maemo-Icon-26: iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOJgAADf8B8FPl8wAAAatJREFUaIHtl7FKA0EURY8BwSZaCBYSDJJCsBQUFDSdIsHKxg8I2mrhD4ioIPgD6awVsVIs0ijYaGUlFkEFLSy0EsJqxmI3sA672dnZiSC8A9Nk3tx33jCEBARBEARBEAQhJf1ADRjKkFFx5GLFHqCCNZfi3GzonOqClzGPmshaQv0CcK6daXVTMAkVsXZiaudj6uvd14xmJEZIAXdAESh3qFGAB/T9tXibwwS5VsK+Ao7/3Dpg2EDOZM2EQ9/wp/5OuW5Syo87kl/Xgz3LoEbKAa4dDdCrB79YBj2nHMCFvNJDc8B9SpE2BWDMsPbIsofOZtSHNexvY8mgaSVDfni9R4XngAcDiTgWE/bzuLv9atzGIP63iu3NTHZo6urd55Omu8wQfhKTueJwgEQ2HDcoO5TfNRmAjE2mQjlNR+JnpuJZB2iGMqYdyRs9G52qRZMroBScX3Yov28zQJvthPBbYDVUX3Ik7eH/1XTCKfARCn8FLvj91gvAgQPxBv6NF21EezrsDQCjwGfQxNP26sAE8BUMa9pP4f/+esL/RbuF5ZsXBEEQBEEQ/jk/lbjZqDOz3HIAAAAASUVORK5CYII=
